
<body id="page-top" class="index">

  

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <!--div class="intro-lead-in">Reservester</div-->
                <div class="intro-heading">Find a restaurant near you!</div>
                <a href="#how" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- How it works Section -->
    <section id="how">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works?</h2>
                    <h3 class="section-subheading text-muted">Easily find a restaurant near you.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary2"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Search for your favorite restaurants.</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary2"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Reserve them at a specific time.</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary2"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Enjoy some great food!</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </section>

        <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team</h2>
                    <h3 class="section-subheading text-muted">Meet the brains behind this website.</h3>

                    <div class="team-member">
                        <%= image_tag "/assets/brian.png", :width => 300, :height => 300, :class => 'img-responsive img-circle' %>
                        <h4>Brian Le</h4>
                        <p class="text-muted">Web Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.twitter.com/brianlethal"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://www.github.com/brianjle"><i class="fa fa-github"></i></a>
                            </li>
                            <li><a href="http://www.linkedin.com/pub/brianjle"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Resrvstr was made for the Startup Institute Boston Web Development circumlum.</p>
                </div>
            </div>
        </div>
    </section>


